<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469259020663-6i5bevhfohag3ue8idg330pm833fun8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469259020663-6i5bevhfohag3ue8idg330pm833fun8a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>469259020663-2vp8p4rk8g2m1pingrtgtsi58e1kva7v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5YPL-zAZT8Pvns-XOsB0bJDN_myPNEnw</string>
	<key>GCM_SENDER_ID</key>
	<string>469259020663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginTest</string>
	<key>PROJECT_ID</key>
	<string>otpverify-6888f</string>
	<key>STORAGE_BUCKET</key>
	<string>otpverify-6888f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469259020663:ios:25a4e8d530f770b5ab1972</string>
</dict>
</plist>